<div class="hero-container">
    <div class="hero-content">
        <h1>Bienvenue chez <span>Sen TECH 221</span></h1> 
        <p>Votre boutique spécialisée en matériel informatique et high-tech au Sénégal.</p><br>
        <p class="description">
            
            Nous sélectionnons rigoureusement des ordinateurs de dernière génération issus
            des plus grandes marques <br> — Apple, HP, Lenovo, Dell , Sony ,Microsopht — <br>pour vous garantir qualité,
            fiabilité et performance. Que vous soyez étudiant, professionnel ou passionné
            de technologie, trouvez l'appareil qui correspond réellement à vos besoins,
            au meilleur prix du marché.
        </p>
        
    </div>
</div>



<div class="section-titre">
    <h2>Notre catalogue</h2>
    <p>Parcourez notre sélection de produits tech, tous testés et garantis.</p>
</div>

<div class="filtres-container" id="catalogue">
    <button
    *ngFor="let marque of marques"
    class="btn-filtre"
    [class.active]="marqueSelectionnee === marque"
    (click)="filtrerParMarque(marque)">
        {{ marque }}
    </button>
</div>

<div class="produits-grid">
    <div class="produit-card" *ngFor="let produit of produitsFiltres">
        <div class="card-header">
            <span class="stock-badge" [class.en-stock]="produit.enStock">
                {{ produit.enStock ? 'En stock' : 'Rupture' }}
            </span>
            <img [src]="produit.image" [alt]="produit.nom" class="produit-img" />
        </div>

        <div class="card-body">
            <span class="marque-tag">{{ produit.marque }}</span>
            <h3>{{ produit.nom }}</h3>
            <p>{{ produit.descriptionCourte }}</p>
        </div>

        <div class="card-footer">
            <span class="prix">{{ produit.prix | number }} FCFA</span>
            <a [routerLink]="['/produits', produit.id]" class="btn-voir-plus">
                Voir le produit
            </a>
        </div>
    </div>
</div>