<nav class="navbar">
    <div class="navbar-logo">
        <a routerLink="/">
    <img src="/images/logo/logo sen Tech 221.png" alt="Logo Sen-TECH221" class="logo-img" />
  </a>
    </div>
    <ul class="navbar-liens">
        <li ><a routerLink="/" routerLinkActive="actif" [routerLinkActiveOptions]="{exact: true}">Accueill</a></li>
        <li><a routerLink="/a-propos" routerLinkActive="actif">A propos</a></li>
        <li><a routerLink="/contact" routerLinkActive="actif">Contact</a></li>
    </ul>
</nav>
